@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A1Construction</h1>
    <p class="lead">Etiam venenatis mattis erat, sed bibendum enim porta nec. Phasellus libero odio, bibendum vel velit sit amet, molestie fermentum nisi. Nam volutpat eget justo lacinia porta.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Donec egestas consectetur condimentum. Praesent neque ligula, rutrum quis semper sit amet, laoreet ac ipsum. Vivamus congue leo sit amet risus iaculis finibus. Integer aliquet nibh quis risus vulputate, nec interdum est ultricies. Aliquam vel porttitor justo, consectetur pulvinar felis. Aliquam placerat massa at faucibus mollis. Donec eu eros nec tellus hendrerit varius sed sit amet ligula.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Donec egestas consectetur condimentum. Praesent neque ligula, rutrum quis semper sit amet, laoreet ac ipsum. Vivamus congue leo sit amet risus iaculis finibus. Integer aliquet nibh quis risus vulputate, nec interdum est ultricies. Aliquam vel porttitor justo, consectetur pulvinar felis. Aliquam placerat massa at faucibus mollis. Donec eu eros nec tellus hendrerit varius sed sit amet ligula.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Donec egestas consectetur condimentum. Praesent neque ligula, rutrum quis semper sit amet, laoreet ac ipsum. Vivamus congue leo sit amet risus iaculis finibus. Integer aliquet nibh quis risus vulputate, nec interdum est ultricies. Aliquam vel porttitor justo, consectetur pulvinar felis. Aliquam placerat massa at faucibus mollis. Donec eu eros nec tellus hendrerit varius sed sit amet ligula.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>