@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Some Company Information</h1>
	<p class="lead">
		Cat ipsum dolor sit amet, leave hair on owner's clothes pet my belly, you know you want to; seize the hand and shred it! destroy couch
		and eat too much then proceed to regurgitate all over living room carpet while humans eat dinner. Lick face hiss at owner, pee a lot, and meow repeatedly
		scratch at fence purrrrrr eat muffins and poutine until owner comes back destroy the blinds stare at wall turn and meow stare at wall some more meow again continue staring .
	</p>
	<p>
		<a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a>
	</p>
</div>
<!--Andrew Brudnak-->
<div class="row">
	<div class="col-md-4">
		<h2>Morbi ultrices justo</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus scelerisque sollicitudin. Pellentesque auctor risus erat, vitae
			consequat ex fringilla sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur diam sem, molestie non felis ac, ultricies commodo massa.
		</p>
		<p>
			<a class="btn btn-default" href="#">Learn more &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Pellentesque egestas </h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus scelerisque sollicitudin. Pellentesque auctor risus erat, vitae
			consequat ex fringilla sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur diam sem, molestie non felis ac, ultricies commodo massa.
		</p>
		<p>
			<a class="btn btn-default" href="#">Learn more &raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Orci varius natoque</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus scelerisque sollicitudin. Pellentesque auctor risus erat, vitae
			consequat ex fringilla sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur diam sem, molestie non felis ac, ultricies commodo massa.
		</p>
		<p>
			<a class="btn btn-default" href="#">Learn more &raquo;</a>
		</p>
	</div>
</div>